@font-face {
   font-family: 'FC Lamoon Bold Italic ver 1.00';
   font-display: swap;
   src: url('file:///C:/Users/User/AppData/Local/Mobirise.com/Mobirise/projects/project-2019-10-09_174542/fonts/FC%20Lamoon%20Bold%20Italic%20ver%201.00/font.ttf');
}
